<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item id="toolbar-content">
      <ion-searchbar animated placeholder="Search..." mode="ios" (ionFocus)="hide()" (ionBlur)="show()"></ion-searchbar>
      <ng-container *ngIf="hidden===false">
        <ion-button fill="clear" color="medium">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-infinite-scroll threshold="100px">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      <ng-container *ngIf="filterValue==='burgers'">
        <app-product-list [produits]="(catalogue$|async).burgers"></app-product-list>
      </ng-container>
      <ng-container *ngIf="filterValue==='menus'">
        <app-product-list [produits]="(catalogue$|async).menus"></app-product-list>
      </ng-container>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>