<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item id="toolbar-content">
      <ion-searchbar animated placeholder="Search..." mode="ios" (ionFocus)="hide()" (ionBlur)="show()"></ion-searchbar>
      <ng-container *ngIf="hidden===false">
        <ion-button fill="clear" color="medium">
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
      </ng-container>
    </ion-item>
    <ion-segment (ionChange)="getFilterValue($event)" value="burgers" mode="ios">
      <ion-segment-button value="burgers">
        <ion-label>Burgers</ion-label>
      </ion-segment-button>
      <ion-segment-button value="menus">
        <ion-label>Menus</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-infinite-scroll threshold="100px">
    <ion-infinite-scroll-content>
      <ng-container *ngIf="(catalogue$|async) as catalogue">
        <ng-container *ngIf="filterValue==='burgers'">
          <app-product-list [produits]="catalogue.burgers" [display]="'vertical'"></app-product-list>
        </ng-container>
        <ng-container *ngIf="filterValue==='menus'">
          <app-product-list [produits]="catalogue.menus" [display]="'vertical'"></app-product-list>
        </ng-container>
      </ng-container>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>